.layout{
    padding-top: 8px;
}

.layout h1{
    text-align: center;
}

.subtext{
    text-align: center;
}

.imageContent{
    display: flex;
}

.card{
    box-sizing: border-box;
    padding: 24px;
    margin: 0 auto;
}

.card img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    filter: grayscale(90%);
}

.card img:hover{
    filter: grayscale(0%);
}

.card h2{
    margin: 8px 0;
}

.card p{
    margin: 0;
}

.icons{
    margin-top: 12px;
}

.icons a{
    margin-right: 12px;
}

