.headerContainer{
    box-sizing: border-box;
    overflow: hidden;
    height: 400px;
    padding-left: 22px;
}
.particle{
    position: absolute;
    width: 800px;
    right: 0;
}

.headerItems{
    margin-top: 80px;
    max-width: 450px;
}

.searchContainer{
    margin-top: -24px;
    width: 75%;
}

.searchForm{
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    padding: 18px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: -6px 3px 8px 0 rgba(147, 147, 147, 0.2), 6px 8px 12px 0 rgba(142, 142, 142, 0.19);
}

.searchLabel{
    font-size: 16px;
    padding: 0;
    margin-left: 2px;
}

.searchInput{
    box-sizing: border-box;
    margin: 12px 0 6px 0;
    height: 42px;
    width: 100%;
    padding: 2px 12px;
    font-size: 18px;
}

.searchSubmit{
    position: absolute;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top: 24px;
    margin-left: -90px;
    color: rgb(132, 132, 132);
}

.clickablePlaceholderContainer {
  position: absolute;
  top: 59px;
  left: 33px;
  font-size: 19px;
  color: #666666;
  font-weight: 450;
}

.clickablePlaceholderContainer a {
  margin-left: 5px;
}

.searchClickablePlaceholder:hover{
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .searchContainer{
        width: 94%;
    }
}

