.layout{
    padding-top: 8px;
}

.row{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.header{
    font-weight: bold;
}

.column1{
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    padding: 8px 16px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    background-color: rgb(245, 245, 245);
    border-right-width: 0;
    min-height: 100%;
    word-break: break-word;
   white-space: pre-wrap;
   -moz-white-space: pre-wrap; 
}

.column2{
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 12px 24px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    border-right-width: 0;
    min-height: 100%;
    word-break: break-word;
   white-space: pre-wrap;
   -moz-white-space: pre-wrap; 
}

.column3{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 12px 24px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    border-right-width: 0;
    min-height: 100%;
    word-break: break-word;
   white-space: pre-wrap;
   -moz-white-space: pre-wrap; 
}

.column4{
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 12px 24px;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    font-weight: bold;
    text-align: center;
    min-height: 100%;
}

th:nth-child(1),
td:nth-child(1) {
    max-width: none;
}

th:first-child, td:first-child {
    max-width: 200px;
}

th:nth-child(2), td:nth-child(2) {
    max-width: 220px;
    overflow-wrap: break-word;
}

th:nth-child(3), td:nth-child(3) {
    max-width: 380px;
    overflow-wrap: break-word;
}

th:nth-child(4), td:nth-child(4) {
    max-width: 250px;
}

.fileSelected{
    padding: 6px 12px;
}

.addHyperlink {
    color: blue;
}