.header{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 0 18px;
    width: fit-content;
    border-radius: 12px;
}

.header img{
    display: block;
    width: 14px;
}

.header h2{
    display: block;
    margin-left: 12px;
    font-weight: 600;
    font-size: 14px;
}