.nav{
    box-sizing: border-box;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    margin: 0;
    top: 0;
    z-index: 999;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.logoContainer{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
}

.logoContainer p{
    box-sizing: border-box;
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.logoContainer ul{
    box-sizing: border-box;
    margin: 0;
    padding-left: 36px;
    font-weight:lighter;
    list-style: none;
}

.info::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(175, 175, 175); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }



.buttonsContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttonsContainer li{
    display: inline;
    padding-left: 20px;
}

.buttonsContainer a{
    text-decoration: none;
    color: black;
}

.buttonsContainer a:hover{
    text-decoration: none;
    color: #2f5d62;
}

@media screen and (max-width: 630px) {

    .container{
        flex-direction: column;
        padding: 0;
    }

    .logoContainer{
        padding: 0 18px;
    }


    .buttonsContainer li {
      display: block;
    }

    .logoContainer{
        width: 100%;
    }

    .buttonsContainer{
        width: 100%;
        background-color: rgb(245, 245, 245);
    }

    .buttonsContainer li{
        padding: 18px 20px;
    }

    .buttonsContainer li:hover{
        background-color: rgb(192, 192, 192);
    }

    .visable{
        display: none;
    }
}


